{"filter":false,"title":"requirements.txt","tooltip":"/fyp/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":356,"scrollleft":0,"selection":{"start":{"row":52,"column":19},"end":{"row":52,"column":19},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":24,"state":"start","mode":"ace/mode/text"}},"timestamp":1707981734251,"hash":"72bbffc1fd2eefe4b52fa82e772880c54f513ca8"}